---
import "../styles/styles.css";

const {
  title = "Power Tree Werx",
  description = "Tree removal and arborist services in the Shuswap region. Call or text for an estimate.",
  lang = "en-CA",
} = Astro.props;
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />

    <meta name="robots" content="noindex, nofollow, noarchive" />

    <link rel="icon" type="image/svg+xml" href="/tree-2-svgrepo-com.svg" />
    <link rel="icon" href="/tree-2-svgrepo-com.ico" />

    <title>{title}</title>
    <meta name="description" content={description} />

    <slot name="head" />
  </head>

  <body>
    <slot />
  </body>
</html>